<div>
  <h2><%= customer.full_name %></h2>
  <p>
    <%= image_tag url_for(customer.image) %><br>
    Phone: <%= customer.phone_number %><br>
    Email: <%= customer.email_address %><br>
    Notes: <%= customer.notes %>
  </p>
</div>
